{% extends "layout2.html" %}

{% block container %}
<br>
<div class="row">
  <div class="col-12">
    <strong><h1>Empleado</h1></strong>
    <hr size="5" color="black">
    <form class="card-sm">
      <div class="card-body row no-gutters align-items-center">
        <!--end of col-->
        <div class="col">
          <input class="form-control form-control-lg form-control-borderless"
            type="search" placeholder="Buscar">
        </div>
        <!--end of col-->
        <div class="col-auto">
          <button class="btn btn-lg btn-info" type="submit">Buscar</button>
        </div>
        <!--end of col-->
      </div>
    </form>
    <div class="row">
      <div class="col-3"></div>
        <div class="col-7">
          <button
            type="button" class="btn btn-primary btn-rounded btn-lg"
            data-mdb-ripple-color="dark" style="">Empleado Activo
          </button>
          <button
            type="button" class="btn btn-rounded text-light btn-lg" style="background-color: #D32F2F;"
            style="">Empleado Inactivo
          </button>
          <button
            type="button" class="btn btn-success btn-rounded btn-lg" data-mdb-ripple-color="dark"
            data-toggle="modal" data-target="#agregarEmpleado" style="">Agregar
          </button>
          <br>
        </div>
      <div class="col-3"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <br>
    <div class="table-responsive">
      <table class="table table-bordered table-sm">
        <thead style="background-color: #BDBDBD;" class="text-center">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Calle</th>
            <th scope="col">Num ext</th>
            <th scope="col">Colonia</th>
            <th scope="col">Telefono</th>
            <th scope="col">Fecha de nacimiento</th>
            <th scope="col">Fecha de registro</th>
            <th scope="col">Sueldo</th>
            <th scope="col">Nombre de usuario</th>
            <th scope="col">Correo</th>
            <th scope="col">Rol</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="text-center">
          {%for e in empleados%}
          {%for u in usuarios%}
          <tr>
            <td>{{ e.nombre }}</td>
            <td>{{ e.apellido }}</td>
            <td>{{ e.calle }}</td>
            <td>{{ e.numeroExterior }}</td>
            <td>{{ e.colonia }}</td>
            <td>{{ e.telefono }}</td>
            <td>{{ e.fechaNacimiento }}</td>
            <td>{{ e.fechaRegistro }}</td>
            <td>{{ e.sueldo }}</td>
            <td>{{ u.nombre }}</td>
            <td class="text-center">
              <button type="button" class="btn btn-secondary" >Modificar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
          {%endfor%}
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Agregar -Modal -->
<div class="modal fade" id="agregarEmpleado" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="card">
        <div class="card-header text-center gradient-card-hearder sunny-morning-gradient" 
          style="color:white; font-size:20px">Agregar
          <button style="color:white" type="button" class="close"
            data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button></div>
        <div class="card-body">
          <form name="sent" id="form1" action="/empleado" method="POST">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="nombreEmp">Nombre</label>
                  <input type="text" id="nombreEmp" name="nombreEmp" class="form-control" placeholder="Nombre" />
                  
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="apellidoEmp">Apellido</label>
                  <input type="text" id="apellidoEmp" name="apellidoEmp" class="form-control" placeholder="Apellido"/>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="NumExtEmp">Num. Exterior</label>
                  <input type="number" id="NumExtEmp" name="NumExtEmp" class="form-control" placeholder="Num" />
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="calleEmp">Calle</label>
                  <input type="text" id="calleEmp" name=calleEmp class="form-control" placeholder="Calle" />
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="coloniaEmp">Colonia</label>
                  <input type="text" id="coloniaEmp" name="coloniaEmp" class="form-control" placeholder="Colonia"/>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="telEmp">Telefono</label>
                  <input type="number" id="telEmp" name="telEmp" class="form-control" placeholder="Telefonos" />
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="sueldoEmp">Sueldo</label>
                  <input type="number" id="sueldoEmp" name="sueldoEmp" name="telEmp" class="form-control" placeholder="Telefonos" />
                </div>
              </div>
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="NacEmp">Fecha de nacimiento</label>
              <input type="date" id="NacEmp" name="NacEmp" class="form-control" placeholder="01/01/200"/>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="NombreUsu">Nombre de usuario</label>
                <input type="text" id="NombreUsu" name="NombreUsu" class="form-control" placeholder="Alguien" />
              </div>
            </div>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="emailUsu">Correo</label>
              <input type="email" id="emailUsu" name="emailUsu" class="form-control" placeholder="usuario@correo.com" />
              
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="passUsu">Contraseña</label>
              <input type="password" id="passUsu" name="passUsu" class="form-control" placeholder="*****"/>
            </div>
            {%for r in roles%}
            {%if r.id == 1%}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="adm" value="{{ r.name }}">
              <label class="form-check-label" for="adm">
                {{ r.description }}
              </label>
            </div>
            {%endif%}
            {%endfor%}

            {%for r in roles%}
            {%if r.id == 2%}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="gen" value="{{ r.name }}" >
              <label class="form-check-label" for="gen">
                {{ r.description }}
              </label>
            </div>
            {%endif%}
            {%endfor%}

            {%for r in roles%}
            {%if r.id == 3%}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="emp" value="{{ r.name }}" checked>
              <label class="form-check-label" for="emp">
                {{ r.description }}
              </label>
            </div>
            {%endif%}
            {%endfor%}

            
            <div class="modal-footer">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <button type="button" class="btn btn-rounded btn-danger btn-lg" data-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-rounded btn-primary btn-lg">Agregar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}