{% extends "layout.html" %}

{% block container %}
<br>
<div class="row">
  <div class="col-12">
    <strong><h1>Nosotros</h1></strong>
    
    <hr size="5" color="black">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="row">
      <!--<center>-->
      <div class="card-group">
        <div class="col">
          <img src="../static/imgs/mision.png" alt="..." width="250" height="250" style="margin: 10px auto 10px;
            display: block;"/>
          <div class="card-body">
            <h5 class="card-title text-center">Misión</h5>
            <p class="card-text" style="margin-top:100px">
              Brindar satisfacción ofreciendo alimentos y servicios 
              con la más alta calidad.
            </p>
          </div>
        </div>
        <div class="col">
          <img src="../static/imgs/vision.png" alt="..." width="250" height="250" style="margin: 10px auto 10px;
            display: block;"/>
          <div class="card-body">
            <h5 class="card-title text-center">Visón</h5>
            <p class="card-text" style="margin-top:100px">
              Ser reconocido y preferido a nivel Regional, como un 
              grupo de trabajo 100% original de México.
            </p>
          </div>
        </div>
        <div class="col">
          <img src="../static/imgs/valores.png" alt="..." width="250" height="250" style="margin: 10px auto 10px;
            display: block;"/>
          <div class="card-body">
            <h5 class="card-title text-center">Valores</h5>
            <p class="card-text">
              <ul type="circle">
                <li>Servicio: Brindar comodidad y confianza a los clientes.</li>
                <li>Calidad: Excelencia en todo lo que hacemos.</li>
                <li>Pasión: Comprometidos con el corazón y la razón.</li>
                <li>Integridad: Honestidad y respeto en todo lo que hacemos.</li>
                <li>Responsabilidad: Afrontar todas las consecuencias.</li> 
              </ul>
            </p>
          </div>
        </div>
      </div>
    <!--</center>-->
    </div>
</div>
</div>
<div class="row">
  <div class="col-5">
    <center>
      <img src="../static/imgs/historia.png" alt="..." width="690" height="400" style="display: block; 
      padding:5px; margin-top: -30px;" />
    </center>
  </div>
  <div class="col-1">
  </div>
  <div class="col-6">
    <br><br>
    <p>En las últimas décadas las alitas se han posicionado como una de las botanas favoritas al momento 
    de ver deportes o simplemente por el puro antojo. Las hay en una gran variedad: con hueso y sin hueso, 
    con piel o sin piel, empanizadas, al carbón y la lista podría seguir durante un buen rato. La historia 
    detrás de la popularidad de "El Impero de Alitas", nos lleva a 2018, cuando los encargados inauguraron un 
    pequeñp establecimiento de pollos asados. Este establecimiento pasó años sin pena hasta 2020, cuando los dueños 
    esperaban su habitual dotación de pollo, pero en lugar de recibir un surtido de piezas recibieron 
    únicamente alas. Como no sabían qué hacer con tantas la encargada se puso a experimentar y se le ocurrió 
    freír algunas y bañarlas con salsa picante. Se dice que los catadores de este experimento fueron los 
    amigos.</p>
    <br><br>
  </div>
</div>

{% endblock  %}