{% extends "layout.html" %}

{% block container %}
<br>
<div class="row">
  <div class="col-12">
    <strong><h1>Nosotros</h1></strong>
    
    <hr size="5" color="black">
  </div>
</div>
<div class="row">
    <div class="col-12">
      <div class="row">
      <center>
      <div class="card-group">
        <div class="col">
          <img
            src="../static/imgs/mision.png"
            alt="..."
            width="250" height="250" 
            style="margin: 10px auto 10px;
            display: block;"
          />
          <div class="card-body">
            <h5 class="card-title">Misión</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural lead-in to
              additional content. This content is a little bit longer.
            </p>
          </div>
        </div>
        <div class="col">
          <img
            src="../static/imgs/vision.png"
            alt="..."
            width="250" height="250" 
            style="margin: 10px auto 10px;
            display: block;"
          />
          <div class="card-body">
            <h5 class="card-title">Visón</h5>
            <p class="card-text">
              This card has supporting text below as a natural lead-in to additional content.
            </p>
          </div>
        </div>
        <div class="col">
          <img
            src="../static/imgs/valores.png"
            alt="..."
            width="250" height="250"
            style="margin: 10px auto 10px;
            display: block;"
          />
          <div class="card-body">
            <h5 class="card-title">Valores</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural lead-in to
              additional content. This card has even longer content than the first to show
              that equal height action.
            </p>
          </div>
        </div>
      </div>
    </center>
    </div>
</div>
<div class="row">
  <div class="col-5">
    <img
            src="../static/imgs/historia.png"
            alt="..."
            width="450" height="450" 
            style="margin: 10px auto 10px;
            display: block;"
          />
  </div>
  <div class="col-1">
  </div>
  <div class="col-6">
    <br><br><br><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores delectus eos natus cum asperiores doloremque blanditiis omnis consequatur praesentium laudantium possimus, dolorem nihil hic incidunt recusandae nam veniam eum similique!</p>
    <br><br><br>
  </div>
</div>

{% endblock  %}