{% extends "layout2.html" %}

{% block container %}

<br>
<div class="row">
  <div class="col-12">
    <strong>
      <h1>Materiales</h1>

    </strong>
    <hr size="5" color="black">
    <form class="card-sm">
      <div class="card-body row no-gutters align-items-center">
        <!--end of col-->
        <div class="col">
          <input class="form-control form-control-lg form-control-borderless" id="mySearch" type="search"
            placeholder="Buscar">
        </div>
        <!--end of col-->
        <div class="col-auto">
          <button class="btn btn-lg btn-info" type="submit">Buscar</button>
        </div>
        <!--end of col-->
      </div>
    </form>
    {%with messages = get_flashed_messages(with_categories=true)%}
    {%if messages %}
    {%for category, message in messages%}
    <div class="p-3 mb-2 bg-{{category}} text-white text-center">{{message}}</div>
    {%endfor%}
    {%endif%}
    {%endwith%}
    <div class="row">
      <div class="col-12 text-center">
        {%if not current_user.has_role('gen')%}
        {%if not inactivo%}
        <a class="btn btn-danger btn-rounded btn-lg" data-mdb-ripple-color="dark"
          href="{{url_for('materiales_inactivos')}}" role="button">Material eliminado</a>
        {%else%}
        <a class="btn btn-primary btn-rounded btn-lg" data-mdb-ripple-color="dark" href="{{url_for('materiales')}}"
          role="button">Material existente</a>
        {%endif%}
        {%endif%}
        <button type="button" class="btn btn-success btn-rounded btn-lg" data-mdb-ripple-color="dark"
          data-toggle="modal" data-target="#agregarMaterial">
          Agregar material
        </button>
        <br>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <br>
    <div class="table-responsive">
      <table class="table table-bordered table-sm ">
        <thead style="background-color: #BDBDBD;" class="text-center">
          <tr>
            <th scope="col">Descripción</th>
            <th scope="col">Unidad de medida</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Monto</th>
            <th scope="col">Precio</th>
            <th scope="col">Fecha registro</th>
            {%if not current_user.has_role('gen')%}
            {%if not inactivo%}
            <th scope="col">Acciones</th>
            {%endif%}
            {%endif%}
          </tr>
        </thead>
        <tbody class="text-center" id="tableActivos">
          {%if not materiales%}
          <tr>
            <td colspan="8">Sin registros</td>
          </tr>
          {%else%}
          {%for material in materiales%}
          <tr>
            <td>{{material.descripcion}}</td>
            <td>{{material.unidadMedida}}</td>
            <td>{{material.cantidad}}</td>
            <td>{{material.monto}}</td>
            <td>{{material.precio}}</td>
            <td>{{material.fecha_registro}}</td>
            {%if not current_user.has_role('gen')%}
            {%if not inactivo%}
            <td class="text-center">
              <form action="{{url_for('materiales_modificar_get')}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type="hidden" name="id-material-modificar" value="{{material.id}}">
                <button type="submit" class="btn btn-secondary btn-modificar">Modificar</button>
              </form>
              <form action="{{url_for('materiales_eliminar_get')}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type="hidden" name="id-material-eliminar" value="{{material.id}}">
                <button type="submit" class="btn btn-danger btn-eliminar">Eliminar</button>
              </form>
            </td>
            {%endif%}
            {%endif%}
          </tr>
          {%endfor%}
          {%endif%}
        </tbody>
      </table>
    </div>
  </div>
</div>

{%if not inactivo%}
<!-- Agregar -Modal -->
<div class="modal fade" id="agregarMaterial" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <form action="{{url_for('materiales_agregar')}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="card">
          <div class="card-header text-center gradient-card-hearder dusty-grass-gradient"
            style="color: green; font-size:20px"><strong>Agregar</strong>
            <button style="color:white;" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body">

            <div class="row mb-4">
              <div class="col-12">
                <label for="agregarPedido">Seleccione el pedido desde el que se agregaran los productos</label>
                <select id="agregarPedido" name="agregarPedido" class="browser-default custom-select" required>
                  <option value="" selected disabled>SELECCIONAR</option>
                  {%for pedido in pedidos%}
                  <option value="{{pedido.id}}">{{pedido.producto}}</option>
                  {%endfor%}
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-rounded btn-danger btn-lg" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-rounded btn-success btn-lg">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{%else%}
<div class="modal fade" id="agregarMaterial" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="card">
        <div class="card-header text-center gradient-card-hearder young-passion-gradient""
          style="color: red; font-size:20px"><strong>No hay pedidos</strong>
          <button style="color:white;" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card-body text-center">
          <p>No hay materiales pendientes a agregar.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-rounded btn-danger btn-lg" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{%endif%}

<!-- Modificar Modal -->
{%if material_editar %}
<div class="modal fade" id="modificarMaterial" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <form action="{{url_for('materiales_modificar')}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="id-material" value="{{material_editar.id}}">
        <div class="card">
          <div class="card-header text-center gradient-card-hearder purple-gradient"
            style="color: purple; font-size:20px"><strong>Modificar</strong>
            <a href="{{url_for('materiales')}}" role="button" style="color:white;" type="button" class="close">
              <span aria-hidden="true">&times;</span>
            </a>
          </div>
          <div class="card-body">

            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="modificarDescripcion">Descripción</label>
                  <textarea name="modificarDescripcion" id="modificarDescripcion" rows="3" class="form-control"
                    required>{{material_editar.descripcion}}</textarea>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <fieldset>
                    <legend style="font-size: 16px;">Unidad de Medida</legend>
                    <div class="form-check">
                      {%if material_editar.unidadMedida == 'K'%}
                      <input type="radio" name="editarUM" id="editarUM-K" class="form-check-input" value="K" checked
                        required><label for="editarUM-K" class="form-check-label">Kilos (K)</label>
                      {%else%}
                      <input type="radio" name="editarUM" id="editarUM-K" class="form-check-input" value="K"
                        required><label for="editarUM-K" class="form-check-label">Kilos (K)</label>
                      {%endif%}
                    </div>
                    <div class="form-check">
                      {%if material_editar.unidadMedida == 'L'%}
                      <input type="radio" name="editarUM" id="editarUM-L" class="form-check-input" value="L" checked
                        required><label for="editarUM-L" class="form-check-label">Litros (L)</label>
                      {%else%}
                      <input type="radio" name="editarUM" id="editarUM-L" class="form-check-input" value="L"
                        required><label for="editarUM-L" class="form-check-label">Litros (L)</label>
                      {%endif%}
                    </div>
                    <div class="form-check">
                      {%if material_editar.unidadMedida == 'PZ'%}
                      <input type="radio" name="editarUM" id="editarUM-PZ" class="form-check-input" value="PZ" checked
                        required><label for="editarUM-PZ" class="form-check-label">Piezas (PZ)</label>
                      {%else%}
                      <input type="radio" name="editarUM" id="editarUM-PZ" class="form-check-input" value="PZ"
                        required><label for="editarUM-PZ" class="form-check-label">Piezas (PZ)</label>
                      {%endif%}
                    </div>
                  </fieldset>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="editarCantidad">Cantidad</label>
                  <input type="text" id="editarCantidad" name="editarCantidad" class="form-control"
                    value="{{material_editar.cantidad}}" placeholder="Cantidad" required />
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="editarMonto">Monto</label>
                  <input type="text" id="editarMonto" name="editarMonto" class="form-control" placeholder="Monto"
                    value="{{material_editar.monto}}" required />
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="editarPrecio">Precio</label>
                  <input type="text" id="editarPrecio" name="editarPrecio" class="form-control" placeholder="$$$"
                    value="{{material_editar.precio}}" required />
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-rounded btn-danger btn-lg" href="{{url_for('materiales')}}" role="button">Cerrar</a>
          <button type="submit" class="btn btn-rounded btn-success btn-lg">Modificar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>

  $(document).ready(function () {
    $('#modificarMaterial').modal('show');
  })

</script>

{%endif%}

{%if idMaterial%}
<div class="modal fade" id="eliminarMaterail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <form action="{{url_for('materiales_eliminar')}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="card">
          <div class="card-header text-center gradient-card-hearder young-passion-gradient"
            style="color: red; font-size:20px"><strong>Eliminar</strong>
            <a href="{{url_for('materiales')}}" role="button" style="color:white;" type="button" class="close">
              <span aria-hidden="true">&times;</span>
            </a>
          </div>
          <div class="card-body">
            <h3 class="text-center">¿Esta seguro de eliminar este material?</h3>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="id-material" value="{{idMaterial}}">
          </div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-rounded btn-light btn-lg" href="{{url_for('materiales')}}" role="button">Cerrar</a>
          <button type="submit" class="btn btn-rounded btn-danger btn-lg">Eliminar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>

  $(document).ready(function () {
    $('#eliminarMaterail').modal('show');
  })

</script>

{%endif%}


{% endblock %}