{% extends "layout2.html" %}

{% block container %}
<br>
<div class="row">
  <div class="col-12">
    <strong>
      <h1>Inventario Material</h1>
    </strong>
    <hr size="5" color="black">
    <form class="card-sm">
      <div class="card-body row no-gutters align-items-center">
        <!--end of col-->
        <div class="col">
          <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Buscar">
        </div>
        <!--end of col-->
        <div class="col-auto">
          <button class="btn btn-lg btn-info" type="submit">Buscar</button>
        </div>
        <!--end of col-->
      </div>
    </form>
    {%with messages = get_flashed_messages(with_categories=true)%}
    {%if messages %}
    {%for category, message in messages%}
    <div class="p-3 mb-2 bg-{{category}} text-white">{{message}}</div>
    {%endfor%}
    {%endif%}
    {%endwith%}
    <div class="row">
      <div class="col-12 text-center">
        <!-- <button type="button" class="btn btn-primary btn-rounded btn-lg" data-mdb-ripple-color="dark"
          style="">Inventario Activo
        </button>
        <button type="button" class="btn btn-rounded text-light btn-lg" style="background-color: #D32F2F;"
          style="">Inventario Inactivo
        </button> -->
        <button type="button" class="btn btn-success btn-rounded btn-lg" data-mdb-ripple-color="dark"
          data-toggle="modal" data-target="#agregarMaterial">
          Agregar
        </button>
        <br>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <br>
    <div class="table-responsive">
      <table class="table table-bordered table-sm">
        <thead style="background-color: #BDBDBD;" class="text-center">
          <tr>
            <th scope="col">Descripción</th>
            <th scope="col">Unidad de medida</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Monto</th>
            <th scope="col">Precio</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="text-center">
          {%if not inventarioMaterial%}
          <tr>
            <td colspan="7">No hay productos disponibles</td>
          </tr>
          {%else%}
          {%for producto in inventarioMaterial%}
          <tr>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.unidadMedida}}</td>
            <td>{{producto.cantidad}}</td>
            <td>{{producto.monto}}</td>
            <td>{{producto.precio}}</td>
            <td class="text-center">
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modificarMaterial">Modificar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
          {%endfor%}
          {%endif%}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Agregar -Modal -->
<div class="modal fade" id="agregarMaterial" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <form action="{{url_for('materiales_agregar')}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="card">
          <div class="card-header text-center gradient-card-hearder dusty-grass-gradient"
            style="color: green; font-size:20px"><strong>Agregar</strong>
            <button style="color:white;" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body">

            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="agregarDescripcion">Descripción</label>
                  <textarea name="agregarDescripcion" id="agregarDescripcion" rows="3" class="form-control"
                    required></textarea>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <fieldset>
                    <legend style="font-size: 16px;">Unidad de Medida</legend>
                    <div class="form-check">
                      <input type="radio" name="agregarUM" id="agregarUM-K" class="form-check-input" value="K"
                        required><label for="agregarUM-K" class="form-check-label">Kilos (K)</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" name="agregarUM" id="agregarUM-L" class="form-check-input" value="L"
                        required><label for="agregarUM-L" class="form-check-label">Litros (L)</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" name="agregarUM" id="agregarUM-PZ" class="form-check-input" value="PZ"
                        required><label for="agregarUM-PZ" class="form-check-label">Piezas (PZ)</label>
                    </div>
                  </fieldset>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="agregarCantidad">Cantidad</label>
                  <input type="text" id="agregarCantidad" name="agregarCantidad" class="form-control"
                    placeholder="Cantidad" required />
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="agregarMonto">Monto</label>
                  <input type="text" id="agregarMonto" name="agregarMonto" class="form-control" placeholder="Monto"
                    required />
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="agregarPrecio">Precio</label>
                  <input type="text" id="agregarPrecio" name="agregarPrecio" class="form-control" placeholder="$$$"
                    required />
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-rounded btn-danger btn-lg" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-rounded btn-primary btn-lg">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="modificarMaterial" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <form action="{{url_for('materiales_agregar')}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="card">
          <div class="card-header text-center gradient-card-hearder purple-gradient"
            style="color: purple; font-size:20px"><strong>Modificar</strong>
            <button style="color:white;" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="card-body">

            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="agregarDescripcion">Descripción</label>
                  <textarea name="agregarDescripcion" id="agregarDescripcion" rows="3" class="form-control"
                    required></textarea>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <fieldset>
                    <legend style="font-size: 16px;">Unidad de Medida</legend>
                    <div class="form-check">
                      <input type="radio" name="agregarUM" id="agregarUM-K" class="form-check-input" value="K"
                        required><label for="agregarUM-K" class="form-check-label">Kilos (K)</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" name="agregarUM" id="agregarUM-L" class="form-check-input" value="L"
                        required><label for="agregarUM-L" class="form-check-label">Litros (L)</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" name="agregarUM" id="agregarUM-PZ" class="form-check-input" value="PZ"
                        required><label for="agregarUM-PZ" class="form-check-label">Piezas (PZ)</label>
                    </div>
                  </fieldset>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="agregarCantidad">Cantidad</label>
                  <input type="text" id="agregarCantidad" name="agregarCantidad" class="form-control"
                    placeholder="Cantidad" required />
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="agregarMonto">Monto</label>
                  <input type="text" id="agregarMonto" name="agregarMonto" class="form-control" placeholder="Monto"
                    required />
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="agregarPrecio">Precio</label>
                  <input type="text" id="agregarPrecio" name="agregarPrecio" class="form-control" placeholder="$$$"
                    required />
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-rounded btn-danger btn-lg" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-rounded btn-primary btn-lg">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}