{% extends "layout.html" %}

{% block container %}
<br>
<div class="row">
  <div class="col-12">
    <strong><h1>Menú</h1></strong>
    <hr size="5" color="black">
    <form class="card-sm">
      <div class="card-body row no-gutters align-items-center">
        <!--end of col-->
        <div class="col">
          <input class="form-control form-control-lg form-control-borderless"
            id="mySearch" onkeyup="myFunction()" placeholder="Buscar...">
        </div>
        <!--end of col-->
        <div class="col-auto">
          <button class="btn btn-lg btn-info" type="submit">Buscar</button>
        </div>
        <!--end of col-->
      </div>
    </form>
  </div>
</div>
<br>
<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col">
          <div class="bg-white py-3 text-black text-center">
            <div class="card text-center" style="background-color:#c2c2c2;">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../static/imgs/alitas mango .jpeg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Alitas Mango</h5>
                <p class="card-text">
                  Alitas de Pollo con un ligero dorado cubiertas de salsa mango habanera, una buena eleccion si 
                  lo desea,con un acompañante de zanahorias y salsa de crema y yogurth.    
                </p>
              </div>
              <div class="card-footer">$70.00 pesos</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="bg-white py-3 text-black text-center">
            <div class="card text-center" style="background-color:#c2c2c2;">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../static/imgs/alitas takis.jpeg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Alitas Takis</h5>
                <p class="card-text">
                  Alitas de Pollo doradas cubiertas en polvo de takis molidos dandole un sabor picante y delicioso,
                  acompañado de a¿zanahorias y esparragos picados a rayas. 
                </p>
              </div>
              <div class="card-footer">$100.00 pesos</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="bg-white py-3 text-black text-center">
            <div class="card text-center" style="background-color:#c2c2c2;">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../static/imgs/5.png" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Alitas Habanero</h5>
                <p class="card-text">
                  Alitas de Pollo con un ligero dorado cubiertas de salsa habanera, con un acompañante de 
                  zanahorias y esparragos, con salsa de crema y yogurth. 
                </p>
              </div>
              <div class="card-footer">$85.00</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="bg-white py-3 text-black text-center">
            <div class="card text-center" style="background-color:#c2c2c2;">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../static/imgs/2.png" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Papas y Alitas</h5>
                <p class="card-text">
                  Alitas de Pollo con un ligero dorado, con un acompañante de 
                  papas a la francesa, esparragos y zanahorias, con salsa de crema y yogurth, aparte de
                  salsa de tomate. 
                </p>
              </div>
              <div class="card-footer">$63.00</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="bg-white py-3 text-black text-center">
            <div class="card text-center" style="background-color:#c2c2c2;">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../static/imgs/4.png" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Papas a la Francesa</h5>
                <p class="card-text">
                  Una orden de papas a la francesa con kétchup. Una buena cantidad para quien le gusta probar 
                  lo bueno y salado, con algo dulce y delicioso. 
                </p>
              </div>
              <div class="card-footer">$35.00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col">
          <div class="bg-white py-3 text-black text-center">
            <div class="card text-center" style="background-color:#c2c2c2;">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../static/imgs/6.png" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Boneless</h5>
                <p class="card-text">
                  Una orden de Boneless acompañado de alitas adobadas en salsa barbecue y sus acompañamientos
                  de zanahorias y salsa de yogurth. Ademas de esparragos 
                </p>
              </div>
              <div class="card-footer">$54.00</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="bg-white py-3 text-black text-center">
            <div class="card text-center" style="background-color:#c2c2c2;">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../static/imgs/Alitas-BBQ.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Alitas Salsa Barbecue</h5>
                <p class="card-text">
                  Alitas de Pollo cuebiertas de una riquizima salsa barbecue acompañadas de 
                  zanahoras y esparragos. 
                </p>
              </div>
              <div class="card-footer">$104.00</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="bg-white py-3 text-black text-center">
            <div class="card text-center" style="background-color:#c2c2c2;">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Proximos a publicar...</h5>
                <p class="card-text">
                  
                </p>
              </div>
              <div class="card-footer"></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="bg-white py-3 text-black text-center">
            <div class="card text-center" style="background-color:#c2c2c2;">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Proximos a publicar...</h5>
                <p class="card-text">
                  
                </p>
              </div>
              <div class="card-footer"></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="bg-white py-3 text-black text-center">
            <div class="card text-center" style="background-color:#c2c2c2;">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Proximos a publicar...</h5>
                <p class="card-text">
                  
                </p>
              </div>
              <div class="card-footer"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" style="background:#9b9b9b; width:20px" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" style="background:#9b9b9b; width:20px" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>

{% endblock %}