{% extends "layout.html" %}

{% block container %}
<br>
<div class="row">
  <div class="col-12">
    <strong><h1>Menú</h1></strong>
    <hr size="5" color="black">
    <form class="card-sm">
      <div class="card-body row no-gutters align-items-center">
        <!--end of col-->
        <div class="col">
          <input class="form-control form-control-lg form-control-borderless"
            id="mySearch" onkeyup="myFunction()" placeholder="Buscar...">
        </div>
        <!--end of col-->
        <div class="col-auto">
          <button class="btn btn-lg btn-info" type="submit">Buscar</button>
        </div>
        <!--end of col-->
      </div>
    </form>

    <div class="row">
      <div class="col-3"></div>
        <div class="col-7">
          <a type="submit" href="/menu" class="btn btn-outline-primary btn-lg"
            style="margin-right: 40px;">Alitas</a>
          <a type="submit" href="/menu" class="btn btn-outline-secondary btn-lg"
            style="margin-right: 40px;">Boneless</a>
          <a type="submit" href="/menu" class="btn btn-outline-success btn-lg"
            style="margin-right: 40px;">Papas</a>
          <a type="submit" href="/menu" class="btn btn-outline-danger btn-lg"
            style="margin-right: 40px;">Nuggets</a>
        </div>
      <div class="col-3"></div>
    </div>
  </div>
</div>
<br></br>
<div class="row" id="alitas">
  <div class="col-4">
    <div class="card text-center" style="background-color:#c2c2c2;">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="../static/imgs/alitas mango .jpeg" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Alitas Mango</h5>
        <p class="card-text">
          Alitas de Pollo con un ligero dorado cubiertas de salsa mango habanera, con un acompañante de 
          zanahorias y salsa de crema y yogurth.    
        </p>
      </div>
      <div class="card-footer">$70.00 pesos</div>
    </div>
  </div>
  <div class="col-4">
    <div class="card text-center" style="background-color:#c2c2c2;">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="../static/imgs/alitas takis.jpeg" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Alitas Takis</h5>
        <p class="card-text">
          Alitas de Pollo doradas cubiertas en polvo de takis molidos dandole un sabor picante y delicioso,
          acompañado de a¿zanahorias y esparragos picados a rayas. 
        </p>
      </div>
      <div class="card-footer">$100.00 pesos</div>
    </div>
  </div>
  <div class="col-4">
    <div class="card text-center" style="background-color:#c2c2c2;">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="../static/imgs/5.png" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Alitas Habanero</h5>
        <p class="card-text">
          Alitas de Pollo con un ligero dorado cubiertas de salsa habanera, con un acompañante de 
          zanahorias y esparragos, con salsa de crema y yogurth. 
        </p>
      </div>
      <div class="card-footer">$85.00</div>
    </div>
  </div>
</div>
<br>

{% endblock %}