{% extends "layout.html" %}

{% block container %}
<br>
<div class="row">
  <div class="col-12">
    <strong><h1>Menú</h1></strong>
    <hr size="5" color="black">
    <form class="card-sm">
      <div class="card-body row no-gutters align-items-center">
        <!--end of col-->
        <div class="col">
          <input class="form-control form-control-lg form-control-borderless"
            type="search" placeholder="Buscar">
        </div>
        <!--end of col-->
        <div class="col-auto">
          <button class="btn btn-lg btn-info" type="submit">Buscar</button>
        </div>
        <!--end of col-->
      </div>
    </form>
    <div class="row">
      <div class="col-3"></div>
        <div class="col-7">
          <button type="button" class="btn btn-outline-primary btn-lg"
            style="margin-right: 40px;">Alitas</button>
          <button type="button" class="btn btn-outline-secondary btn-lg"
            style="margin-right: 40px;">Boneless</button>
          <button type="button" class="btn btn-outline-success btn-lg"
            style="margin-right: 40px;">Papas</button>
          <button type="button" class="btn btn-outline-danger btn-lg"
            style="margin-right: 40px;">Nuggets</button>
        </div>
      <div class="col-3"></div>
    </div>
  </div>
</div>
<br></br>
<div class="row">
  <div class="col-4">
    <div class="card text-center" style="background-color:#c2c2c2;">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.jpg"
          class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
        </a>
      </div>

      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the
          card's content.
        </p>


      </div>
      <div class="card-footer">2 days ago</div>
    </div>
  </div>
  <div class="col-4">
    <div class="card text-center" style="background-color:#c2c2c2;">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.jpg"
          class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
        </a>
      </div>

      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the
          card's content.
        </p>


      </div>
      <div class="card-footer">2 days ago</div>
    </div>
  </div>
  <div class="col-4">
    <div class="card text-center" style="background-color:#c2c2c2;">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.jpg"
          class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
        </a>
      </div>

      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the
          card's content.
        </p>


      </div>
      <div class="card-footer">2 days ago</div>
    </div>
  </div>
</div>
<br>
{% endblock %}