{% extends "layout2.html" %}

{% block container %}
<br>
<div class="row">
  <div class="col-12">
    <strong><h1>Pedidos</h1></strong>
    <hr size="5" color="black">
    <form class="card-sm">
      <div class="card-body row no-gutters align-items-center">
        <!--end of col-->
        <div class="col">
          <input class="form-control form-control-lg form-control-borderless"
          id="mySearch" onkeyup="myFunction()" placeholder="Buscar...">
        </div>
        <!--end of col-->
        <div class="col-auto">
          <button class="btn btn-lg btn-info" type="submit">Buscar</button>
        </div>
        <!--end of col-->
      </div>
    </form>
    <div class="row">
      <div class="col-5"></div>
        <button
          type="button" class="btn btn-success btn-rounded btn-lg" data-mdb-ripple-color="dark"
            data-toggle="modal" data-target="#agregarPedidos"style="">Agregar
        </button>
        <br>
        <div class="col-3"></div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-12">
        <br>
        <div class="table-responsive">
          <table class="table table-bordered table-sm">
            <thead style="background-color: #BDBDBD;" class="text-center">
              <tr>
                <th scope="col">UNIDAD MEDIDA</th>
                <th scope="col">CANTIDAD</th>
                <th scope="col">PRECIO</th>
                <th scope="col">FECHA</th>
                <th scope="col">PRODUCTO</th>
                <th scope="col">METODO DE PAGO</th>
              </tr>
            </thead>
            <tbody class="text-center">
            {%for p in pedido%}
              <tr>
                <td>{{p.unidadMedida}}</td>
                <td>{{p.cantidad}}</td>
                <td>{{p.precio}}</td>
                <td>{{p.fecha}}</td>
                <td>{{p.descripcion}}</td>
                <td>{{p.tipo}}</td>
              </tr>
            {%endfor%}  
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="../static/bootstrap/js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="../static/bootstrap/js/mdb.js"></script>
<script type="text/javascript" src="../static/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="../static/bootstrap/js/addons/datatables.js"></script>
<script type="text/javascript" src="../static/bootstrap/js/addons/datatables-select.js"></script>

<script src="../static/bootstrap/js/mdb.js" type="text/javascript"></script>                
<script>
                        // Material Select Initialization   
                        //se cambia los nombres de cada id en ('#'') 
                        $(document).ready(function () {
                            new WOW().init();
                            //este es para el select 
                            $('.mdb-select').materialSelect();
                        });
                        $(document).ready(function () {
                            // SideNav Button Initialization        
                            $(".button-collapse").sideNav();
                            // SideNav Scrollbar Initialization        
                            var sideNavScrollbar = document.querySelector('.custom-scrollbar');
                        });
                        // Material Select Initialization
                        $(document).ready(function () {
                            $('.mdb-select').materialSelect();
                        });
</script>
<script>
  $(document).ready(function(){
  $("#mySearch").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#tableActivos tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
    <!-- Agregar -Modal -->
    <div class="modal fade" id="agregarPedidos" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="card">
            <div class="card-header text-center gradient-card-hearder dusty-grass-gradient"
              style="color:green; font-weight:bold">Agregar 
              <button style="color:white;" type="button" class="close"
                data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button></div>
            <div class="card-body">
              <form method="POST" name="formP" id="formP" action="/pedidos/agregar">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <label class="form-label" for="unidadM">Unidad Medida</label><br>
                      <input type="checkbox" id="cbox1" value="kg"><label for="cbox1">Kg</label><br>
                      <input type="checkbox" id="cbox2" value="l"><label for="cbox2">L</label><br>
                      <input type="checkbox" id="cbox3" value="p"><label for="cbox3">Piezas</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <label class="form-label" for="cantidad">Cantidad</label>
                      <input type="text" id="cantidad" class="form-control" placeholder="Cantidad"/>
                    </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <label class="form-label" for="precio">Precio</label>
                      <input type="text" id="precio" class="form-control" placeholder="Precio" />
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <label class="form-label" for="fecha">Fecha</label>
                      <input type="date" id="fecha" class="form-control" placeholder="01/01/200"/>
                    </div>
                  </div>
                </div>
                
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <label class="form-label" for="producto">Producto</label>
                      <select type="text" id="producto" class="form-control">
                        <option value="">Selecciona: </option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <label class="form-label" for="metodoP">Metodo de Pago</label>
                      <select type="number" id="metodoP" class="form-control">
                        <option value="">Selecciona: </option>
                      </select>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-rounded btn-danger btn-lg" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-rounded btn-primary btn-lg">Agregar</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}