{% extends "layout2.html" %}

{% block container %}
<br>
<div class="row">
  <div class="col-12">
    <strong>
      <h1>Ventas</h1>
    </strong>
    <hr size="5" color="black">
    <form class="card-sm">
      <div class="card-body row no-gutters align-items-center">
        <!--end of col-->
        <div class="col">
          <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Buscar">
        </div>
        <!--end of col-->
        <div class="col-auto">
          <button class="btn btn-lg btn-info" type="submit">Buscar</button>
        </div>
        <!--end of col-->
      </div>
    </form>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-7">
        <button type="button" class="btn btn-primary btn-rounded btn-lg" data-mdb-ripple-color="dark" style="">Venta
          Activa
        </button>
        <button type="button" class="btn btn-rounded text-light btn-lg" style="background-color: #D32F2F;"
          style="">Venta Inactiva
        </button>
        <button type="button" class="btn btn-success btn-rounded btn-lg" data-mdb-ripple-color="dark"
          data-toggle="modal" data-target="#agregarVentas" style="">Agregar
        </button>
        <br>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <br>
    <div class="table-responsive">
      <table class="table table-bordered table-sm">
        <thead style="background-color: #BDBDBD;" class="text-center">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Descripción</th>
            <th scope="col">Tipo de Pago</th>
            <th scope="col">Dirección</th>
            <th scope="col">Fecha y hora</th>
            <th scope="col">Empleado</th>
            <th scope="col">Total</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Calle</td>
            <td>Colonia</td>
            <td>Estado</td>
            <td>Empleado</td>
            <td>Municipio</td>
            <td>Num Ext</td>

            <td class="text-center">
              <button type="button" class="btn btn-secondary">Modificar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Agregar -Modal -->
<div class="modal fade" id="agregarVentas" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="card">
        <div class="card-header text-center gradient-card-hearder sunny-morning-gradient"
          style="color:white; font-size:20px">Agregar
          <button style="color:white;" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card-body">
          <form method="POST" name="formV" id="formV" action="/ventas/agregar">

            <strong>
              <h4>Ordena</h4>
            </strong>
            <hr size="5" color="black">
            <!-- Checked checkbox -->
            <div class="row">
              <div class="col-md-4">
                Selecciona un producto
                <select class="browser-default custom-select">
                  {%for p in producto%}
                  <option value="">Escoge uno</option>
                  <option value="{{ p.monto }}">{{ p.descripcion }}</option>
                  {%endfor%}
                </select>
              </div>
              <div class="form-outline col-md-2">
                Cantidad
                <input type="number" id="txtcantidad" class="form-control" />
              </div>
              <div class="form-outline col-md-4">
                Calle
                <input type="text" id="txtcalle" class="form-control" />
              </div>
              <div class="form-outline col-md-2">
                Número
                <input type="number" id="txtnumero" class="form-control" />
              </div>
            </div>
            <div class="row">
              <div class="form-outline col-md-4">
                Colonia
                <input type="text" id="txtcolonia" class="form-control" />
              </div>
              <div class="col-md-4">
                Tipo de pago
                <select class="browser-default custom-select">
                  {%for tp in pago%}
                  <option value="{{ tp.id }}">{{ tp.tipo }}</option>
                  {%endfor%}
                </select>
              </div>
              <div class="col-md-5">
                <p class="h3">Total</p>
              </div>
            </div>

          </form>
        </div>
      </div>
      <div class="modal-footer">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button type="button" class="btn btn-rounded btn-danger btn-lg" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-rounded btn-primary btn-lg">Agregar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}